Repository dctx-team/Routex, changes with the labels that .github/labeler.yml gives for each.
All labels: type: core, type: api, type: providers, type: transformers, type: dashboard, type: docs, type: ci, type: tests, type: config

fix: 统一默认端口为 3000
  src/config/config.ts
Labels: type: config

fix: 统一所有端口配置为 3000
  API_REFERENCE.md
  IMPLEMENTATION_STATUS_V2.md
  README.md
  RELEASE_NOTES.md
  deploy/KUBERNETES.md
  deploy/claw.yaml
  deploy/fly.toml
  deploy/helm/routex/values.yaml
  deploy/kubernetes-minimal.yaml
  deploy/kubernetes.yaml
  docs/CACHE_WARMER.md
  docs/DEPLOYMENT.md
  docs/OPTIMIZATION_SUMMARY.md
  docs/QUICK_START.md
  docs/TESTING.md
  docs/TRACING_IMPLEMENTATION.md
  docs/api.md
  docs/dashboard-usage.md
  docs/deployment.md
  docs/function-calling.md
Labels: type: docs

docs: 移除冗余文档，更新核心文档结构
  CHANGELOG.md
  DEPLOYMENT_SUCCESS.md
  IMPLEMENTATION_STATUS.md
  IMPLEMENTATION_STATUS_V2.md
  IMPROVEMENT_FROM_PEERS.md
  OPTIMIZATION_PLAN.md
  OPTIMIZATION_PLAN_V1.2.md
  OPTIMIZATION_SUMMARY.md
  PROJECT_SUMMARY.md
  README.md
  RELEASE_NOTES.md
  TODO_CHECKLIST.md
  dashboard/CLAUDE.md
  docs/CODE_REVIEW.md
  docs/DEPLOYMENT.md
  docs/DYNAMIC_TTL_IMPLEMENTATION.md
  docs/OPTIMIZATION_SUMMARY.md
  docs/PERFORMANCE_BENCHMARK.md
  docs/QUICK_START.md
  docs/TEST_FIXES.md
  docs/configuration.md
  docs/dashboard-usage.md
  docs/environment-variables.md
Labels: type: dashboard, type: docs

chore: remove Chinese text for GitHub push [auto]
  CHANGELOG.md
  docs/DYNAMIC_TTL_IMPLEMENTATION.md
  docs/environment-variables.md
  src/api/routes.ts
  src/auth/oauth.ts
  src/cli/model-selector.ts
  src/config/config.ts
  src/core/cache-warmer.ts
  src/core/constants.ts
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/core/routing/custom-routers.ts
  src/core/routing/types.ts
  src/db/database.ts
  src/db/dynamic-ttl.ts
  src/db/types.ts
  src/middleware/rate-limit.ts
  src/middleware/signature.ts
  src/middleware/validation.ts
  src/schemas/channel-schema.ts
  src/schemas/common-schema.ts
  src/schemas/index.ts
  src/schemas/routing-schema.ts
  src/schemas/tee-schema.ts
  src/services/encryption-service.ts
  src/transformers/azure-openai.ts
  src/transformers/gemini.ts
  src/transformers/index.ts
  src/transformers/zhipu.ts
  src/utils/config-loader.ts
  src/utils/encryption.ts
  src/utils/env-interpolation.ts
  src/utils/logger.ts
Labels: type: core, type: api, type: transformers, type: docs, type: config

fix: 修复语法错误并恢复完整源代码
  bun.lock
  src/api/routes.ts
  src/auth/oauth.ts
  src/cli/model-selector.ts
  src/config/config.ts
  src/core/cache-warmer.ts
  src/core/constants.ts
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/core/routing/custom-routers.ts
  src/core/routing/types.ts
  src/db/database.ts
  src/db/dynamic-ttl.ts
  src/db/types.ts
  src/middleware/rate-limit.ts
  src/middleware/signature.ts
  src/middleware/validation.ts
  src/schemas/channel-schema.ts
  src/schemas/common-schema.ts
  src/schemas/index.ts
  src/schemas/routing-schema.ts
  src/schemas/tee-schema.ts
  src/server.ts
  src/services/encryption-service.ts
  src/transformers/azure-openai.ts
  src/transformers/gemini.ts
  src/transformers/index.ts
  src/transformers/zhipu.ts
  src/utils/config-loader.ts
  src/utils/encryption.ts
  src/utils/env-interpolation.ts
  src/utils/logger.ts
Labels: type: core, type: api, type: transformers, type: config

chore: remove Chinese text for GitHub push [auto]
  src/api/routes.ts
  src/auth/oauth.ts
  src/cli/model-selector.ts
  src/config/config.ts
  src/core/cache-warmer.ts
  src/core/constants.ts
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/core/routing/custom-routers.ts
  src/core/routing/types.ts
  src/db/database.ts
  src/db/dynamic-ttl.ts
  src/db/types.ts
  src/middleware/rate-limit.ts
  src/middleware/signature.ts
  src/middleware/validation.ts
  src/schemas/channel-schema.ts
  src/schemas/common-schema.ts
  src/schemas/index.ts
  src/schemas/routing-schema.ts
  src/schemas/tee-schema.ts
  src/services/encryption-service.ts
  src/transformers/azure-openai.ts
  src/transformers/gemini.ts
  src/transformers/index.ts
  src/transformers/zhipu.ts
  src/utils/config-loader.ts
  src/utils/encryption.ts
  src/utils/env-interpolation.ts
  src/utils/logger.ts
Labels: type: core, type: api, type: transformers, type: config

fix: 修复 pre-push hook 破坏代码的问题并恢复完整功能
  src/api/routes.ts
  src/auth/oauth.ts
  src/cli/model-selector.ts
  src/config/config.ts
  src/core/cache-warmer.ts
  src/core/constants.ts
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/core/routing/custom-routers.ts
  src/core/routing/types.ts
  src/db/database.ts
  src/db/dynamic-ttl.ts
  src/db/types.ts
  src/middleware/rate-limit.ts
  src/middleware/signature.ts
  src/middleware/validation.ts
  src/schemas/channel-schema.ts
  src/schemas/common-schema.ts
  src/schemas/index.ts
  src/schemas/routing-schema.ts
  src/schemas/tee-schema.ts
  src/services/encryption-service.ts
  src/transformers/azure-openai.ts
  src/transformers/gemini.ts
  src/transformers/index.ts
  src/transformers/zhipu.ts
  src/utils/config-loader.ts
  src/utils/encryption.ts
  src/utils/env-interpolation.ts
  src/utils/logger.ts
Labels: type: core, type: api, type: transformers, type: config

refactor: 精简项目结构，删除未使用的代码和组件
  dashboard/src/components/AlertSystem.tsx
  dashboard/src/components/BatchOperations.tsx
  dashboard/src/components/ChannelManager.tsx
  dashboard/src/components/Charts.tsx
  dashboard/src/components/CommandPalette.tsx
  dashboard/src/components/ConfigManagement.tsx
  dashboard/src/components/ErrorBoundary.tsx
  dashboard/src/components/Header.tsx
  dashboard/src/components/Monitoring.tsx
  dashboard/src/components/Overview.tsx
  dashboard/src/components/RefreshControl.tsx
  dashboard/src/components/Sidebar.tsx
  dashboard/src/components/Skeleton.tsx
  dashboard/src/components/VirtualList.tsx
  dashboard/src/components/layout/AppLayout.tsx
  dashboard/src/components/layout/Footer.tsx
  dashboard/src/components/layout/Header.tsx
  dashboard/src/components/layout/LanguageSelector.tsx
  dashboard/src/components/layout/Navigation.tsx
  dashboard/src/components/layout/index.ts
  dashboard/src/config/queryClient.ts
  dashboard/src/config/themes.ts
  dashboard/src/constants/index.ts
  dashboard/src/hooks/index.ts
  dashboard/src/hooks/useApi.ts
  dashboard/src/hooks/useAppData.ts
  dashboard/src/hooks/useAppState.ts
  dashboard/src/hooks/useChannels.ts
  dashboard/src/hooks/useRoutingRules.ts
  dashboard/src/hooks/useSimpleApi.ts
  dashboard/src/hooks/useUtils.ts
  dashboard/src/providers/ReactQueryProvider.tsx
  dashboard/src/services/api.ts
  dashboard/src/services/index.ts
  dashboard/src/store/app-store.ts
  dashboard/src/store/index.ts
  dashboard/src/stores/globalStore.ts
  dashboard/src/styles/minimal-ui.css
Labels: type: dashboard

feat: 核心功能整合和页面性能优化
  dashboard/src/App.optimized.tsx
  dashboard/src/App.original.tsx
  dashboard/src/components/ThemeProvider.old.tsx
  dashboard/src/components/ThemeProvider.tsx
  dashboard/src/main.tsx
  dashboard/src/utils/queryClient.ts
  public/dashboard/assets/Analytics-PRZ2SYuB.js
  public/dashboard/assets/CacheManager-CHDu-A8A.js
  public/dashboard/assets/MetricsView-3SIN70Lg.js
  public/dashboard/assets/OAuthLogin-xdM4qbj5.js
  public/dashboard/assets/OAuthManager-Bvypa-XK.js
  public/dashboard/assets/Providers-FSJr1quW.js
  public/dashboard/assets/RequestLogs-UrFfBc99.js
  public/dashboard/assets/RoutingRules-DfXkzznb.js
  public/dashboard/assets/Settings-DfDtGxOm.js
  public/dashboard/assets/TeeManager-OD_o2ylP.js
  public/dashboard/assets/Tracing-Bo3aPgXc.js
  public/dashboard/assets/TransformersManager-6nICEf0O.js
  public/dashboard/assets/index-BHZkXHy3.css
  public/dashboard/assets/index-C581MfN8.js
  public/dashboard/assets/index-Cu1xNCjI.js
  public/dashboard/assets/index-reVVvzoU.css
  public/dashboard/index.html
Labels: type: dashboard

fix: 修复核心类型安全问题，减少70%的TypeScript错误
  src/api/.fuse_hidden00005c100000000a
  src/api/.fuse_hidden00005e790000000b
  src/core/routing/.fuse_hidden00000b3100000004
  src/core/routing/.fuse_hidden00005bf000000009
  src/core/routing/.fuse_hidden00005e6d00000005
  src/core/routing/.fuse_hidden00005e6e00000006
  src/core/routing/.fuse_hidden00005e6f00000007
  src/core/routing/.fuse_hidden00005e7000000008
  src/db/.fuse_hidden00005bf20000000c
  src/db/.fuse_hidden00005e7d0000000d
  src/db/type-guards.ts
  src/types/hono.ts
Labels: type: core, type: api

fix: 全面代码审查，修复8个运行时Bug
  CHANGELOG.md
  src/api/routes.ts
  src/config/config.ts
  src/core/errors.ts
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/core/routing/smart-router.ts
  src/db/database.ts
  src/providers/base.ts
  src/types.ts
  src/types/api-body.ts
Labels: type: core, type: api, type: providers, type: docs, type: config

fix: 深度审查修复4个运行时Bug
  src/api/routes.ts
  src/auth/oauth.ts
  src/core/errors.ts
  src/core/loadbalancer.ts
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/core/routing/smart-router.ts
  src/core/routing/types.ts
  src/db/database.ts
  src/schemas/channel-schema.ts
  src/schemas/routing-schema.ts
  src/services/channel-tester.ts
  src/transformers/gemini.ts
  src/transformers/openai.ts
  src/transformers/zhipu.ts
  src/types.ts
Labels: type: core, type: api, type: transformers

fix: 修复2个OAuth路由路径参数名不匹配导致永远400的Bug
  src/api/routes.ts
Labels: type: api

chore: 将 .claude/ 和 memory/ 加入 .gitignore
  .gitignore
Labels: none

fix: 修复3个运行时Bug（Round 4全面审查）
  src/core/proxy.ts
  src/core/retry-strategy.ts
  src/middleware/rate-limit.ts
Labels: type: core

.github/labeler.yml:

# Configuration for auto-labeling PRs based on changed files

'type: core':
  - src/core/**/*
  - src/db/**/*

'type: api':
  - src/api/**/*

'type: providers':
  - src/providers/**/*

'type: transformers':
  - src/transformers/**/*

'type: dashboard':
  - dashboard/**/*

'type: docs':
  - docs/**/*
  - '*.md'

'type: ci':
  - .github/**/*

'type: tests':
  - '**/*.test.ts'
  - '**/*.spec.ts'

'type: config':
  - src/config/**/*
  - package.json
  - bun.lock
  - tsconfig.json
  - biome.json
